/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#817e7e;
  color:#000000;
  overflow-x:hidden;
}

/* ===== NAVBAR ===== */
.navbar{
  position:sticky;
  top:0;
  z-index:1000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;
  background:rgb(255, 255, 255);
  transition:0.3s;
}

.logo{
  font-size:22px;
  font-weight:700;
}

.navbar nav a{
  margin:0 12px;
  text-decoration:none;
  color:#004846;
  font-weight:500;
  position:relative;
}

.navbar nav a:hover{
  color:#0d0d0e;
}

/* ===== HERO SECTION ===== */
.hero{ 
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px 60px;
  background:linear-gradient(135deg,#000000,#2563eb);
  color:rgb(255, 255, 255);
  min-height:85vh;
}

.hero-text{
  max-width:600px;
}

.hero-text h1{
  font-size:60px;
  font-weight:800;
  margin-bottom:20px;
  line-height:1.1;
}

.hero-text p{
  font-size:18px;
  margin-bottom:30px;
  opacity:.9;
}

/* ===== BUTTONS ===== */
.hero-buttons button{
  padding:14px 28px;
  font-size:16px;
  border-radius:12px;
  border:none;
  cursor:pointer;
  margin-right:12px;
  font-weight:600;
  transition:.25s;
}

.btn-light{
  background:rgb(245, 245, 245);
  color:#fffbfb;
}

.btn-light:hover{
  transform:translateY(-2px);
}

.btn-outline{
  background:transparent;
  border:2px solid white;
  color:white;
}

.btn-outline:hover{
  background:rgb(255, 255, 255);
  color:#3fc9e5;
}

/* ===== SLIDESHOW PARALLELOGRAM ===== */
.hero-slideshow{
  width:380px;
  height:300px;
  overflow:hidden;
  transform:skewX(-15deg);
  border-radius:22px;
  box-shadow:0 25px 60px rgb(255, 254, 254);
}

.hero-slideshow img{
  width:100%;
  height:100%;
  object-fit:cover;
  transform:skewX(15deg);
  transition:opacity 1000s ease-in-out, transform .6s ease;
}

.hero-slideshow img:hover{
  transform:skewX(15deg) scale(1.05);
}

/* ===== GALLERY ===== */
.gallery{
  padding:60px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:20px;
}

.card{
  background:rgb(255, 255, 255);
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 8px 25px rgb(249, 249, 249);
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card p{
  padding:12px;
  font-weight:600;
}

/* ===== FOOTER ===== */
footer{
  text-align:center;
  padding:20px;
  background:#000000;
  color:#fff;
  font-size:16px;
}

/* ===== DARK MODE ===== */
body.dark{
  background:#0f172a;
  color:white;
}

body.dark .navbar{
  background:#000000;
}

body.dark .card{
  background:#000000a0;
}

